*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    position: fixed;
    width: 100%;
    top: -10px;
}
.Btn{
    margin-top: 20px;
    background: none;
    border: none;
    outline: none;
    padding: 12px;
    cursor: pointer;
}
.Btn:focus{
    background: none;
    border: none;
    outline: none;
}
.fas{
    font-size: 30px;
    color: white;
    transition: all 0.9s ease;
}
.fas:hover{
    font-size: 30px;
    color:  red;
    
}
.para{
    font-size: 19px;
    color: yellow;
    font-family: cursive;
    padding-top: 6px;
    font-weight: 800;
}
.para:hover{
    font-size: 19px;
    color: purple;
    font-family: cursive;
    padding-top: 6px;
    font-weight: 800;
}
.bgChangerDiv{
    margin-top: 150px;
    height: 100px;
    width: 10%;
    background: black;
    position: fixed;
    left: 1240px;
    text-align: center;
    transition: all 0.9s ease;
}
.formcontainer{
    width: 100%;
    background: #b444ff;
    padding: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.nameInput{
    width: 100%;
    margin-top: 10px;
}
.emailInput{
    width: 100%;
    margin-top: 10px;
}
.learnMoreBtn{
    padding: 10px 15px;
    border-radius: 26px;
    border: none;
    cursor: pointer;
    background: white;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}
.signInBtn{
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 26px;
    background: rgb(247, 203, 8);
    border: none;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
}
.signInBtn:focus{
    box-shadow: 2px 2px 3px black;
    outline: none;
}
.commentArea{
    width: 100%;
    margin-top: 10px;
}
.formDiv{
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 90px;
}
.contentDiv{
    width: 50%;
    padding: 20px;
}
.bgChangerDiv:hover{
    margin-top: 150px;
    height: 100px;
    width: 10%;
    background: rgb(151, 151, 8);
    margin-left: auto;
    position: fixed;
    left: 1240px;
    text-align: center;
}
.extra-contents{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    margin: auto;
    background: linear-gradient(360deg,rgb(247, 203, 8),orange);
    box-shadow: 4px 5px 1.2rem black;
}
.miniContentDiv{
    display: flex;
    flex-direction: row;
    margin: auto;
}
.nav-bar{
    width: 100%;
    background: linear-gradient(180deg,yellow,orange);
    box-shadow: 2px 3px 1.2rem black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.img-content{
    width: 20%;
    padding-top: 45px;
    
}
.brandName{
    width: 100%;
    font-weight: 900;
    margin-left: 10px;
}
.content-1{
     width: 60%;
     padding-top: 45px;
     text-align: center;

}
.adiv{
    font-size: 19px;
     text-decoration: none;
     color: black;
     font-weight: 800;
     cursor: pointer;
}
.adiv2{
    font-size: 19px;
     text-decoration: none;
     color: white;
     font-weight: 800;
     cursor: pointer;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     margin-left: 20px;
     transition: all 0.8s ease;
}
.adiv2:hover{
    color: brown;
    border-bottom: 5px solid white;
    padding-bottom: 6px;
    text-decoration: none;
}
.sign-up{
    width: 20%;
    padding-top: 35px;
}
.signUp{
    background: black;
    padding: 9px 19px;
    margin-left: 40px;
    margin-right: 20px;
    border-radius: 30px;
     font-weight: 700;
     color: white;
     border: none;
     transition: all 1s ease;
}
.signUp:hover{
    transform: scaleX(1.2);
    background: purple;
    color: yellow;
    
}
.signIn{
    background: yellow;
    padding: 9px 19px;
    border-radius: 30px;
    font-weight: 700;
    border: none;
    transition: all 1s ease;
}
.signIn:hover{
    transform: scaleX(1.2);
    background: white;
    color: red;
}
.footer{
    margin-top: 180px;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.what{
 color: white;
 background:linear-gradient(60deg,yellow,orange) ;
 padding: 10px;
 border-radius: 50%;
 font-size: 26px;
 translate: all 2s ease;
}
.what:hover{
transform: scaleY(1.2);
cursor: pointer;
}
.sectionft{
    background: linear-gradient(230deg,yellow,orange);
padding: 60px 0px;
 
}
.foothead{
font-size: 60px;
font-weight: 800;
 
}
.footbody{
font-size: 20px;
font-weight: 500;
 
}
.fote{
  border-right: 2px solid white;
}
.fotext{
  font-size: 27px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
.ugh{
  font-size: 15px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  cursor: pointer;
  
}
.ugh:hover{
  font-size: 15px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: blue !important;
}
.nav-barToggler{
    border: 2px solid white;
    width: 70px;
    padding: 10px 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 20px;
    display: none;
}
.toggler{
    width: 30px;
    background: red;
    padding: 4px 5px;
   
    transform: translateX(20px) skewX(-20deg);
}

.toggler:focus{
}
.toggled{
    width: 30px;
    background: red;
    padding: 4px 5px;
    transform: translateX(5px) skewX(-20deg);
    margin-top: 4px;
}
.toggled:focus{

}
.togglers{
    width: 30px;
    background: red;
    padding: 4px 5px;
    margin-top: 4px;
    transform: translateX(-13px) skewX(-20deg);
}
.togglers:focus{
    
}
@media(max-width:500px){

    .nav-bar{
        width: 100%;
        background: linear-gradient(180deg,yellow,orange);
        box-shadow: 2px 3px 1.2rem black;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        position: relative;

    }
    .img-content{
        width: 30%;
        padding-top: 45px;
        
    }
    .content-1{
        width: 30%;
        padding-top: 45px;
        text-align: center;
        margin-right: auto;
   }
   .formcontainer{
    width: 100%;
    background: #b444ff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   }
   .contentDiv{
    width: 100%;
    padding: 20px;
    margin-top: 200px;
   }
   .formDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 0px;
  }
  .hey{
      text-align: none;
  }
   .sign-up{
    width: 100%;
    padding-top: 35px;
  }
  .signUp{
    background: black;
    padding: 9px 19px;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 30px;
     font-weight: 700;
     color: white;
     border: none;
     transition: all 1s ease;
}
.signUp:hover{
    transform: scaleX(1.2);
    background: purple;
    color: yellow;
    
 }
.signIn{
    background: yellow;
    padding: 9px 19px;
    border-radius: 30px;
    font-weight: 700;
    border: none;
    transition: all 1s ease;
 }
.signIn:hover{
    transform: scaleX(1.2);
    background: white;
    color: red;
 }
   .nav-barToggler{
       display: block;
       position: absolute;
       top: 30px;
       right: 5px;
       width: 12%;
       display: flex;
       flex-direction: column;
       padding: 5px 14px;
   }
   .toggler{
       transform: translateX(3px) skewX(-20deg) translateY(4px);
       width: 13px !important;
       margin-bottom: 3px !important;
       padding: 3px 10px;
   }
   .commentArea{
    width: 100% !important;
    margin-top: 10px;
    }
    .toggler:focus{

   }
   .toggled{
    transform: translateX(7px) skewX(-20deg) translateY(2px);
    width: 13px !important;
    margin-bottom: 1px !important;
    padding: 3px 10px;
   }
   .toggled:focus{}
   .togglers{
    transform: translateX(3px) skewX(-20deg) translateY(4px);
    width: 13px !important;
    margin-bottom: 10px !important;
    padding: 3px 10px;
   }
   .togglers:focus{

   }
}