*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    position: fixed;
    width: 100%;
}
.Btn{
    margin-top: 20px;
    background: none;
    border: none;
    outline: none;
    padding: 12px;
    cursor: pointer;
}
.Btn:focus{
    background: none;
    border: none;
    outline: none;
}
.fas{
    font-size: 30px;
}
.bgChangerDiv{
    margin-top: 150px;
    height: 100px;
    width: 10%;
    background: blue;
    margin-left: auto;
    position: fixed;
    left: 1250px;
    text-align: center;
}
.extra-contents{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    margin: auto;
    background: linear-gradient(360deg,rgb(247, 203, 8),orange);
    box-shadow: 4px 5px 1.2rem black;
}
.miniContentDiv{
    display: flex;
    flex-direction: row;
    margin: auto;
}
.nav-bar{
    width: 100%;
    background: linear-gradient(60deg,yellow,orange);
    box-shadow: 2px 3px 1.2rem black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.img-content{
    width: 20%;
    padding-top: 45px;
    
}
.brandName{
    width: 100%;
    font-weight: 900;
    margin-left: 10px;
}
.content-1{
     width: 60%;
     padding-top: 45px;
     text-align: center;

}
.adiv{
    font-size: 19px;
     text-decoration: none;
     color: black;
     font-weight: 800;
     cursor: pointer;
}
.adiv2{
    font-size: 19px;
     text-decoration: none;
     color: white;
     font-weight: 800;
     cursor: pointer;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     margin-left: 20px;
     transition: all 0.8s ease;
}
.adiv2:hover{
    color: brown;
    border-bottom: 5px solid white;
    padding-bottom: 6px;
    text-decoration: none;
}
.sign-up{
    width: 20%;
    padding-top: 35px;
}
.signUp{
    background: black;
    padding: 9px 19px;
    margin-left: 40px;
    margin-right: 20px;
    border-radius: 30px;
     font-weight: 700;
     color: white;
     border: none;
     transition: all 1s ease;
}
.signUp:hover{
    transform: scaleX(1.2);
    background: purple;
    color: yellow;
    
}
.signIn{
    background: yellow;
    padding: 9px 19px;
    border-radius: 30px;
    font-weight: 700;
    border: none;
    transition: all 1s ease;
}
.signIn:hover{
    transform: scaleX(1.2);
    background: white;
    color: red;
}
.footer{
    margin-top: 180px;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.what{
 color: white;
 background:linear-gradient(60deg,yellow,orange) ;
 padding: 10px;
 border-radius: 50%;
 font-size: 26px;
 translate: all 2s ease;
}
.what:hover{
transform: scaleY(1.2);
cursor: pointer;
}
.sectionft{
    background: linear-gradient(230deg,yellow,orange);
padding: 60px 0px;
 
}
.foothead{
font-size: 60px;
font-weight: 800;
 
}
.footbody{
font-size: 20px;
font-weight: 500;
 
}
.fote{
  border-right: 2px solid white;
}
.fotext{
  font-size: 27px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
.ugh{
  font-size: 15px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  cursor: pointer;
  
}
.ugh:hover{
  font-size: 15px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: blue !important;
}